<md-card class="center">
  <md-card-title>LOGIN</md-card-title>
  <md-card-content style="text-align: center">
  <md-spinner color="primary" *ngIf="processing" class="center" style="height: 36px; width: 36px;"></md-spinner>
    <md-input-container class="full-width" *ngIf="step==='username'">
      <input mdInput placeholder="username" [(ngModel)]="username">
    </md-input-container>
    <md-input-container class="full-width" *ngIf="step==='password'">
      <input mdInput placeholder="password" [(ngModel)]="password">
    </md-input-container>
    <br/>
    <button md-button style="color: darkgray; font-size: x-small;">Forgot Username/Password</button>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button (click)="onNext()" *ngIf="!processing">{{action}}</button>
  </md-card-actions>
</md-card>
